/* Acá va tu código */
div {
    display: block;
}
#caja-central{
    width: 700px;
    height: 400px;
    position: relative;
    left: 320px;
    right: 320px;
    top: 70px;
    align-content: center;
}

#pregunta {
    text-align: center;
    font: bold 30px "Ar Blanca";
}

#descripcion {
    position: relative;;
    top: 30px;
    font: 17px "Ar Blanca";
    text-align: center;
    
}

#botones {
    position: relative;
    top: 20px;
}

#btn-cifrar {
    width: 200px;
    height: 80px;
    border-radius: 10px;
    border-radius: 10px;
    position: relative;
    top: 0px;
    left: 90px;
    background-color: background: rgba(243,226,199,1);
    background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 57%, rgba(182,141,76,1) 88%, rgba(156,117,75,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(0%, rgba(243,226,199,1)), color-stop(57%, rgba(193,158,103,1)), color-stop(88%, rgba(182,141,76,1)), color-stop(100%, rgba(156,117,75,1)));
    background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 57%, rgba(182,141,76,1) 88%, rgba(156,117,75,1) 100%);
    background: -o-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 57%, rgba(182,141,76,1) 88%, rgba(156,117,75,1) 100%);
    background: -ms-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 57%, rgba(182,141,76,1) 88%, rgba(156,117,75,1) 100%);
    background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 57%, rgba(182,141,76,1) 88%, rgba(156,117,75,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#9c754b', GradientType=1 );
    border: none;
    color:black;   
}

#btn-descifrar {
    width: 200px;
    height: 80px;
    border-radius: 10px;
    border-radius: 10px;
    position: relative;
    left: 200px;
    top: 0px;
    background-color: background: rgba(243,226,199,1);
    background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 57%, rgba(182,141,76,1) 88%, rgba(156,117,75,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(0%, rgba(243,226,199,1)), color-stop(57%, rgba(193,158,103,1)), color-stop(88%, rgba(182,141,76,1)), color-stop(100%, rgba(156,117,75,1)));
    background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 57%, rgba(182,141,76,1) 88%, rgba(156,117,75,1) 100%);
    background: -o-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 57%, rgba(182,141,76,1) 88%, rgba(156,117,75,1) 100%);
    background: -ms-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 57%, rgba(182,141,76,1) 88%, rgba(156,117,75,1) 100%);
    background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 57%, rgba(182,141,76,1) 88%, rgba(156,117,75,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#9c754b', GradientType=1 );
    border: none;
    color:black;
}

#textos {
    position: relative;
    left: 300px;
    top:0px;
}

#mensajeUsuario {
    position: relative;
    top: 10px;
    left: 200px;
}

#mensajePrograma {
    position: relative;
    top: 10px;
    left: 80px;
}

textarea {
    width: 300px;
    height: 170px;
    border-radius: 10px;
}


h2 {
    position: relative;
    margin: 20px;
    left: 500px;
    align-content: center

}

header {
    width: 100%;
    background: black;
    opacity: 0.5;
    padding-top:0px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom: 0px;
    margin:0px;
    text-align:center;
    color: white;
    font-size: 20px;
    border: 1px solid black;
   }

#mensajeUsuario {
    position: relative;
    left: 40px;

}


body {
    margin:0;
    padding:0;
    background:transparent url('https://www.antonioorlandorodriguez.com/images/sepia-background.jpg') no-repeat;
    background-size: cover;    
   }

.parrafo{
    color: white;
    background-position: center;
    width: 200px;
    padding:10px;
    margin: 10px;
    text-align: left;
    height: 10px;
    font-size: 20px;
}



input {
    width: 500px;
    background-color: white;
    opacity: 0.6;
    padding: 20px;
    margin: 20px;
    border: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    color:black
    font-size: 30px;
    height: 200px;
    background-position: center;
}

#button1 {
    align-content: center
}

.caja {
background-position: center
}